---
layout: "layout/home.njk"
title: "gingeryale says hi"
templateClass: "home"
description: "gingeryale online portfolio of works"
listingA: "assets/img/listingA2.gif"
list888: "assets/img/list888.png"
listJugg: "assets/img/listJugg.gif"
listMeme: "assets/img/listMeme.png"
listNYD: "assets/img/listNYD.png"
listTA: "assets/img/listTA.png"
listWA: "assets/img/listWeather.png"
listNS: "assets/img/listNS.png"
listTEST: "assets/img/listTest.png"
---


{% block home %}
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ list888 }}" alt="project1 listing" loading="lazy"/>
            <figcaption>UI Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>WebMaster for 888Casino & 777Casino</h3>
            <p>Part of a larger team of developers woring on 888Casino's relaunch and redesign. Project included working on the new and improved of 777casino's site. All work done in the Herzeliya offices in Israel.</p>
            <button aria-label="link to project">
                <a href="ui888">Read More</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>ובמאסטר בחברת משחקים והימורים ישראלית</h3>
            <p>עבדתי בצוות של מפתחים כדי להשיק את האתר החדש של הקזינו בחברה. עבדתי לצד קבוצת QA ומנהלי מוצר. יותר מאוחר עבדתי גם על אתר הקזינו של 777. כל העבודה נעשתה במשרדים של החברה בהרצליה.</p>
            <button aria-label="link to project">
                <a href="ui888">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listJugg }}" alt="project2 listing" loading="lazy"/>
            <figcaption>Branding Design & Copywriting</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>A startup project for a new mobile application</h3>
            <p>Branding for a startup's logo and landing page. In addition to designing the landing page, I also wrote the English copy. This was a freelance project.</p>
            <button aria-label="link to project">
                <a href="mobapp">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>פרויקט פרילאנס שעשיתי בוא עבודה של עיצוב הלוגו וגם עיצוב דף הנחיתה עם עוד כמה באנרים לפייסבוק. כתבתי את הטקסטים באנגלית בנוסף לעיצוב.
            </p>
            <button aria-label="link to project">
                <a href="mobapp">לראות עוד</a>
            </button>

        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listNYD }}" alt="project4 is not like the others listing" loading="lazy"/>
            <figcaption>Branding Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>Designer & web developer for an online store</h3>
            <p>Worked at an e-commerce company doing their homepage redesign, branding and marketing materials. Work on their site translation into several European languages as well as Arabic.</p>
            <button aria-label="link to project">
                <a href="nydshop">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>אתר איקומרס שמוכר שמלות ערב פרסם מודעה למעצב גרפי שיודעת גם ווב. עבדתי כאן שנים... עיצבתי את הלוגו, את  דף הבית ובאנרים שרצו בסושל ובגוגל. בין היתר עבדתי בתירגום האתר לשפות רבות ביניהם ערבית.</p>
            <button aria-label="link to project">
                <a href="nydshop">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listMeme }}" alt="project3 unique listing" loading="lazy"/>
            <figcaption>UX & UI Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>UX/UI for young startup</h3>
            <p>Worked as a product designer and developer for a young startup. My work revolved around designing and redesigning new features and interfaces.
            </p>
            <button aria-label="link to project">
                <a href="medic">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>עבדתי על מוצרים חדשים של חברת סטארטאפ צעירה. הם היו עדיין בשלבי תיכנון המוצרים הסופיים ואני עזרתי עם עיצוב ותיכנון ה MVP של החברה. עבדתי לצד מנהלי מוצר ומתכנתי באקאנד.</p>
            <button aria-label="link to project">
                <a href="medic">לראות עוד</a>
            </button>
        </div>
    </div>
</article>

<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listTA }}" alt="another alt tag listing" loading="lazy"/>
            <figcaption>Email Production and Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>Email production at an NYC mon-profit</h3>
            <p>All organizational mass emails went through me as I segmented their audience and scheduled their delivery. Mass email audience could reach upwards of  150,000 recipeints and attention to detail was key to survival.
            </p>
            <button aria-label="link to project">
                <a href="taorg">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>עירגון מצויין בעיר של נוי יורק דרש מנהל דואר אלקטרוני ואני הייתי מנוסה כבר בניהול וביצוע דוא"ל. הייתי אחראית על כל המייל העירגוני שיצא לחברי העירגון. חשוב היה להקפיד על דיוק.
            </p>
            <button aria-label="link to project">
                <a href="taorg">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listWA }}" alt="another alt tag listing" loading="lazy"/>
            <figcaption>React.js Weather App</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>A small weather app that utilises the AccuWeather API
            </h3>
            <p>A simple React app to check the weather across cities worldwide. In addition to being built with React, it uses localStorage to save user favorites.</p>
            <button aria-label="link to project">
                <a href="project1">Open Page</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>השתמשתי בריאקט כדי לבנות אפליקצית מזג אוויר. עשיתי שימוש בסטאק-אוברפלו כדי למצוא פתרונות לבעיות ובסוף 4 ימים סיימתי את המסימה.</p>
            <button aria-label="link to project">
                <a href="project1">פתחו עמוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listNS }}" alt="project4 is not like the others listing" loading="lazy"/>
            <figcaption>Node SASS Project</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>A modern CSS page</h3>
            <p>I'm always keen on brushing up on modern HTML+CSS. This project was taken as part of a Udemy course on advanced CSS/SASS. Project utilises Node SASS and HTML.</p>
            <button aria-label="link to project">
                <a href="project1">Open Page</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>כדי ללמוד על הדרכים החדשניות ביותר בשוק הפרונטאנד, אני נרשמת לקורסים ביודמי ומקומות אחרים. בקורס הזה עברתי על הCSS החדשני ביותר. עולם הפרונטאנד תמיד משתכלל ואני עוקבת אחריו בין היתר בעזרת קורסים.</p>
            <button aria-label="link to project">
                <a href="project1">פתחו עמוד</a>
            </button>
        </div>
    </div>
</article>{% endblock home %}