---
layout: "layout/home.njk"
title: "gingeryale says hi"
templateClass: "home"
description: "gingeryale online portfolio of works"
listingA: "assets/img/listingA2.gif"
list888: "assets/img/list888.png"
listJugg: "assets/img/listJugg.gif"
listMeme: "assets/img/listMeme.png"
listNYD: "assets/img/listNYD.png"
listTA: "assets/img/listTA.png"
listWA: "assets/img/listWeather.png"
listNS: "assets/img/listNS.png"
listTEST: "assets/img/listTest.png"
---


{% block home %}
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ list888 }}" alt="ui webmaster" loading="lazy"/>
            <figcaption>2017-2019</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>WebMaster for Israeli Gaming Company</h3>
            <p>Part of a larger team of developers working for the casino's relaunch and redesign. All work done in the Herzeliya offices in Israel.</p>
            <button aria-label="link to project">
                <a href="/projects/ui888.html">Read More</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>ובמאסטר בחברת משחקים והימורים ישראלית</h3>
            <p>עבדתי בצוות של מפתחים כדי להשיק את האתר החדש של הקזינו בחברה. עבדתי לצד קבוצת QA ומנהלי מוצר. יותר מאוחר עבדתי גם על אתר הקזינו של 777. כל העבודה נעשתה במשרדים של החברה בהרצליה.</p>
            <button aria-label="link to project">
                <a href="/projects/ui888.html">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listJugg }}" alt="branding and design" loading="lazy"/>
            <figcaption>2019-2020</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>Branding and design for young up and coming startup</h3>
            <p>Branding for a startup's logo and landing page. In addition to designing the landing page, I also wrote the English copy. This was a freelance project.</p>
            <button aria-label="link to project">
                <a href="/projects/mobapp.html">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>עיצוב ומיתוג לחברת סטארטאפ צעירה</h3>
            <p>פרויקט פרילאנס שעשיתי בו עבודה של עיצוב הלוגו וגם עיצוב דף הנחיתה עם עוד כמה באנרים לפייסבוק. כתבתי את הטקסטים באנגלית בנוסף לעיצוב.
            </p>
            <button aria-label="link to project">
                <a href="/projects/mobapp.html">לראות עוד</a>
            </button>

        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listNYD }}" alt="designer developer" loading="lazy"/>
            <figcaption>2010-2014</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>Designer & web developer for an ecommerce store</h3>
            <p>Worked at an e-commerce company doing their homepage redesign, branding and marketing materials. Work on their site translation into several European languages as well as Arabic.</p>
            <button aria-label="link to project">
                <a href="/projects/nydshop.html">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>מעצבת גראפית לחברת מסחר אלקטרוני</h3>
            <p>אתר איקומרס שמוכר שמלות ערב פרסם מודעה למעצב גרפי שיודעת גם HTML CSS ווב. עיצבתי את הלוגו, את  דף הבית ובאנרים שרצו ברשתות החברתיות ובגוגל. בין היתר עבדתי בתירגום האתר לשפות רבות ביניהם ערבית.</p>
            <button aria-label="link to project">
                <a href="/projects/nydshop.html">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listMeme }}" alt="ux and ui web developer" loading="lazy"/>
            <figcaption>2015-2016</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>UX/UI for young startup</h3>
            <p>Worked as a product designer and developer for a young startup. My work revolved around designing and redesigning new features and interfaces.
            </p>
            <button aria-label="link to project">
                <a href="/projects/medic.html">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>עבודה על הMVP של חברת סטארטאפ</h3>
            <p>עבדתי על מוצרים חדשים של חברת סטארטאפ צעירה. הם היו עדיין בשלבי תיכנון המוצרים הסופיים ואני עזרתי עם עיצוב ותיכנון ה MVP של החברה. עבדתי לצד מנהלי מוצר ומתכנתי באקאנד.</p>
            <button aria-label="link to project">
                <a href="/projects/medic.html">לראות עוד</a>
            </button>
        </div>
    </div>
</article>

<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listTA }}" alt="email development" loading="lazy"/>
            <figcaption>2016-2017</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>Email production at an NYC non-profit</h3>
            <p>All organizational mass emails went through me as I segmented their audience and scheduled their delivery. Mass email audience could reach upwards of 150,000 recipients; attention to detail was key to a job well done.
            </p>
            <button aria-label="link to project">
                <a href="/projects/taorg.html">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>מפיקה דואר אלקרטרוני</h3>
            <p>אחראית על כל שליחת הדוא"ל של עירגון עירוני. עשיתי פילטור וסגמנטציות קהל היעד וניסויים של A/B TESTING. כתבתי את הHTML וCSS הרספוסיבי של התבנית והתוכן.
            </p>
            <button aria-label="link to project">
                <a href="/projects/taorg.html">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listWA }}" alt="weather app" loading="lazy"/>
            <figcaption>2019</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>A small weather app that utilises the AccuWeather API
            </h3>
            <p>A simple React app to check the weather across cities worldwide. In addition to being built with React, it uses localStorage to save user favorites. Link opens new tab.</p>
            <button aria-label="link to project">
                <a href="https://lucid-leavitt-875fec.netlify.app/" target="_blank" rel=”noopener noreferrer”>Open Page</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>פיתוח אפליקציית מזג אוויר שנעשתה ב REACT</h3>
            <p>כתבתי אפליקציה בריאקט שעושה קריאת API לקבל את מזג האוויר בכל עיר בעולם. האפליקציה עושה שימוש בזיכרון מקומי של הדפדפן כדי לשמור ערים ספציפיות. הקישור פותח חלון חדש בדפדפן

            </p>
            <button aria-label="link to project">
                <a href="https://lucid-leavitt-875fec.netlify.app/" target="_blank" rel=”noopener noreferrer”>פתחו עמוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listNS }}" alt="node sass project" loading="lazy"/>
            <figcaption>2018</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>A modern CSS page</h3>
            <p>I'm always keen on brushing up on modern HTML+CSS. This project was taken as part of a Udemy course on advanced CSS/SASS. Project utilises Node SASS and HTML. Link opens in new tab.</p>
            <button aria-label="link to project">
                <a href="https://nifty-shaw-47750d.netlify.app/" target="_blank" rel=”noopener noreferrer”>Open Page</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>פרוייקט NODE/SASS שעיתי בקורס</h3>
            <p>
                עולם הפרונטאנד נמצאה בשינוי מתמיד ואני לוקחת קורסים ברשת כדי לשמור על בקאות בכל הקשור לעיצוב ופריסת ממשקים. בקורס הזה השתמשתי בCSS הקישור פותח חלון חדש בדפדפן.
            </p>
            <button aria-label="link to project">
                <a href="https://nifty-shaw-47750d.netlify.app/" target="_blank" rel=”noopener noreferrer”>פתחו עמוד</a>
            </button>
        </div>
    </div>
</article>{% endblock home %}