---
layout: "layout/home.njk"
title: "home"
description: "index page"
listingA: "assets/img/listingA450x215.jpg"
---


{% block home %}
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project1 listing" loading="lazy"/>
            <figcaption>Graphic Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>How the Coronavirus is Killing the Middle Class</h3>
            <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make
                                                                                                                                ends meet have begun to feel the strains of debts without the assurance of income.</p>
            <button aria-label="link to project">
                <a href="project1">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>
                למרות שלפי ההנחיות אסור עדיין להגיע לחופי הים, הגיעו המונים לחופי הים התיכון והכינרת. בני זוג שהגיעו
                                                                                                                                לכינרת: "אנחנו לא יוצרים אינטראקציה עם אנשים, לא נוגעים, לא כלום, אז צריך קצת לשחרר"</p>
            <button aria-label="link to project">
                <a href="project1">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project2 listing" loading="lazy"/>
            <figcaption>Graphic Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>How the Coronavirus is Killing the Middle Class</h3>
            <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make
                                                                                                                                ends meet have begun to feel the strains of debts without the assurance of income.</p>
            <button aria-label="link to project">
                <a href="project1">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>
                למרות שלפי ההנחיות אסור עדיין להגיע לחופי הים, הגיעו המונים לחופי הים התיכון והכינרת. בני זוג שהגיעו
                                                                                                                                לכינרת: "אנחנו לא יוצרים אינטראקציה עם אנשים, לא נוגעים, לא כלום, אז צריך קצת לשחרר"</p>
            <button aria-label="link to project">
                <a href="project1">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project3 unique listing" loading="lazy"/>
            <figcaption>Graphic Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>How the Coronavirus is Killing the Middle Class</h3>
            <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make
                                                                                                                                ends meet have begun to feel the strains of debts without the assurance of income.</p>
            <button aria-label="link to project">
                <a href="project1">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>
                למרות שלפי ההנחיות אסור עדיין להגיע לחופי הים, הגיעו המונים לחופי הים התיכון והכינרת. בני זוג שהגיעו
                                                                                                                                לכינרת: "אנחנו לא יוצרים אינטראקציה עם אנשים, לא נוגעים, לא כלום, אז צריך קצת לשחרר"</p>
            <button aria-label="link to project">
                <a href="project1">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="project4 is not like the others listing" loading="lazy"/>
            <figcaption>Graphic Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>How the Coronavirus is Killing the Middle Class</h3>
            <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make
                                                                                                                                ends meet have begun to feel the strains of debts without the assurance of income.</p>
            <button aria-label="link to project">
                <a href="project1">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>
                למרות שלפי ההנחיות אסור עדיין להגיע לחופי הים, הגיעו המונים לחופי הים התיכון והכינרת. בני זוג שהגיעו
                                                                                                                                לכינרת: "אנחנו לא יוצרים אינטראקציה עם אנשים, לא נוגעים, לא כלום, אז צריך קצת לשחרר"</p>
            <button aria-label="link to project">
                <a href="project1">לראות עוד</a>
            </button>
        </div>
    </div>
</article>
<article class="listing fade-in">
    <div class="listing-art">
        <figure>
            <img src="{{ listingA }}" alt="another alt tag listing" loading="lazy"/>
            <figcaption>Graphic Design & Web Development</figcaption>
        </figure>
    </div>
    <div class="listing-text">
        <div class="listing-text-eng">
            <h3>How the Coronavirus is Killing the Middle Class</h3>
            <p>As the economic shutdown prompted by the pandemic stretches on, many who were already struggling to make
                                                                                                                                ends meet have begun to feel the strains of debts without the assurance of income.</p>
            <button aria-label="link to project">
                <a href="project1">See more</a>
            </button>
        </div>
        <div class="listing-text-heb">
            <h3>חמים על ההנחיות: רבבות בילו בחופים</h3>
            <p>
                למרות שלפי ההנחיות אסור עדיין להגיע לחופי הים, הגיעו המונים לחופי הים התיכון והכינרת. בני זוג שהגיעו
                                                                                                                                לכינרת: "אנחנו לא יוצרים אינטראקציה עם אנשים, לא נוגעים, לא כלום, אז צריך קצת לשחרר"</p>
            <button aria-label="link to project">
                <a href="project1">לראות עוד</a>
            </button>
        </div>
    </div>
</article>{% endblock home %}